<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModFinder.Properties.Settings>
            <setting name="WrathPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ManifestUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/CasDragon/ModFinder/RogueTrader/ManifestUpdater/Resources/master_manifest.json</value>
            </setting>
        </ModFinder.Properties.Settings>
    </userSettings>
</configuration>